{% load static %}

    <!-- ====== Footer Area ====== --> 
    <footer class="footer-area" style="background-image:url({% static  'assets/images/footer-bg.png'%})">
      <div class="container">
          <div class="row">
              <div class="col-md-4">
                  <div class="widget widget_about yellow-color">    
                      <div class="widget-title-area">
                          <h3 class="widget-title">
                              About House Rent
                          </h3><!-- /.widget-title -->
                      </div><!-- /.widget-title-area -->
                      <div class="widget-about-content">
                          <img src="{% static  'assets/images/footer-logo.png'%}" alt="house" />
                          <p>Notice: Our company, represented solely by Mr. Mhretab Abebe and operating exclusively through the ethiosps.com website, hereby declares that we bear no responsibility for services conducted via alternative websites or intermediaries.</p>
                          <a href="#" class="button">More</a>
                      </div><!-- /.widget-content -->
                  </div><!-- /.widget widget_about -->
              </div><!-- /.col-md-4 -->
              <div class="col-md-4">
                  <div class="widget widget_place_category yellow-color">
                      <div class="widget-title-area">
                          <h3 class="widget-title">Place Category</h3><!-- /.widget-title -->
                      </div><!-- /.widget-title-area -->
                      <ul>
                          <li> <a href="#">
                           Privacy Policy</a></li>
                          <li><a href="#">Term & Condition</a></li>
                          <li><a href="#">
                           FAQ Page</a></li>
                          <li><a href="#">
                           Our Partners</a></li>
                          <li><a href="#">How It Work</a></li>
                          
                      </ul> 
                  </div><!-- /.widget -->
              </div><!-- /.col-md-4 -->
              <div class="col-md-4">
                  <div class="widget widget_instagram yellow-color">
                      <div class="widget-title-area">
                          <h3 class="widget-title">Instagram Image</h3><!-- /.widget-title -->
                      </div><!-- /.widget-title-area -->
                      <div class="instagram-image-content">
                          <a href="#"><img src="{% static  'assets/images/instagram/instagram-one.png'%}" alt="" /></a>
                          <a href="#"><img src="{% static  'assets/images/instagram/instagram-two.png'%}" alt="" /></a>
                          <a href="#"><img src="{% static  'assets/images/instagram/instagram-three.png'%}" alt="" /></a>
                          <a href="#"><img src="{% static  'assets/images/instagram/instagram-four.png'%}" alt="" /></a>
                          <a href="#"><img src="{% static  'assets/images/instagram/instagram-five.png'%}" alt="" /></a>
                          <a href="#"><img src="{% static  'assets/images/instagram/instagram-six.png'%}" alt="" /></a>

                      </div><!-- /.instagram-image-content -->
                  </div><!-- /.widget -->
              </div><!-- /.col-md-4 -->
          </div><!-- /.row -->
          <div class="row">
              <div class="col-md-12">
                  <div class="bottom-content">
                      <p>Copyright  &copy;2024 <a href="#">Rotech</a></p>
                  </div><!-- /.bottom-top-content -->
              </div><!-- /.col-md-12 -->
          </div><!-- /.row -->
      </div><!-- /.container -->
   </footer><!-- /.footer-area -->