{% load static %}


<head>
  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Specific Meta
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="">
  <meta name="keywords" content="" />
  <meta name="author" content=" Rotech Information Technology">

  <!-- Titles
  ================================================== -->
  <title>Signature</title>

  <!-- Favicons
  ================================================== -->
  <link rel="shortcut icon" href="{% static  'assets/images/house-logo.png'%}">

  <!-- Custom Font
  ================================================== -->
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i%7cPoppins:300,400,500,600,700" rel="stylesheet">   
  
  <!-- CSS
  ================================================== -->
  <link rel="stylesheet" href="{% static  'assets/css/plugins.css'%}">
  <link rel="stylesheet" href="{% static  'assets/css/colors.css'%}">
  <link rel="stylesheet" href="{% static  'assets/style.css'%}">
  <!-- Modernizr
  ================================================== -->
  <script src="{% static  'assets/js/vendor/modernizr-2.8.3.min.js'%}"></script>
</head>
